<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Darumatic - Kubernetes Training App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Kubernetes Training</h2>
Hurray Let's develop something!
<p> <a href="/secret">Secrets</a></p>
<p> <a href="/configMap">ConfigMaps</a></p>
<p> <a href="/service">Services</a></p>
<p> <a href="/imagesecret">Image Secrets</a></p>

<p>Environment Variables</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="var: ${variables}">
        <td th:text="${var.key}"></td>
        <td th:text="${var.value}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>